/* TipTap Editor Base Styling */
.tiptap p {
  margin: 0.5rem 0;
}

.tiptap h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.tiptap h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.tiptap ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
